@media (width >= 640px) {
  .search-home {
    background-image: url("/tulipanes.webp");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
  }
  .search-home:before {
    content: "";
    position: absolute;
    background: rgb(21, 128, 61);
    background: linear-gradient(
      rgba(21, 128, 61, 1) 6%,
      rgba(3, 7, 18, 1) 86%
    );
    opacity: .5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
  }
}
